html {
  height: 100%;
  width: 100%;
  /* background-color: #1b1b1b; */
  background-image: url('/assets/background_tile.png');
}

h1 {
  font-family: FOT-NewRodin Pro;
  src: url("/fonts/FOTNewRodinProEB.otf") format("opentype");
  color: #ffffff
}

h2 {
  font-family: FOT-NewRodin Pro;
  src: url("/fonts/FOTNewRodinProB.otf") format("opentype");
  color: #ffffff
}

body {
  font-family: FOT-NewRodin Pro;
  src: url("/fonts/FOTNewRodinProL.otf") format("opentype");
  color: #d1d1d1;
  background-color: #ffffff00;
}

.pagecontent {
  position: absolute;
  float: left;
  margin: 0;
  padding: 0;
  left: 50px;
  right: 50px;
}
.pagesidebar {
  text-align: center;
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0px;
  right: 0px;
  height: 6%;
}
.sidebaritem {
  margin: 1px;
  height: 90%;
  aspect-ratio: 1 / 1;
  text-align: left;
  display: inline-block;
  bottom: 0;
  overflow: hidden;
}

.sidebaritem img {
  width:100%;
  height:100%;
}

.button {
  font-family: FOT-NewRodin Pro;
  src: url("/fonts/FOTNewRodinProDB.otf") format("opentype");
  border: none;
  color: #ffffff;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: #1b1b1b; 
  font-family: FOT-NewRodin Pro;
  src: url("/fonts/FOTNewRodinProDB.otf") format("opentype");
  color: #ffffff; 
  border: 2px solid #157D73;
}

.button1:hover {
  font-family: FOT-NewRodin Pro;
  src: url("/fonts/FOTNewRodinProB.otf") format("opentype");
  background-color: #157D73;
  color: white;
}