html {
  height: 100%;
  width: 100%;
  background-color: #1b1b1b;
}

h1 {
  font-family: FOT-NewRodin Pro;
  src: url("/fonts/NewRodin.otf") format("opentype");
  color: #ffffff
}

body {
  color: #d1d1d1
}


.button {
  border: none;
  color: #ffffff;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: #1b1b1b; 
  font-family: FOT-NewRodin Pro;
  src: url("fonts/NewRodin.otf") format("opentype");
  color: #ffffff; 
  border: 2px solid #157D73;
}

.button1:hover {
  background-color: #157D73;
  color: #ffffff;
}
